---
---
<header class="border-b">
  <nav class="mx-auto max-w-3xl flex gap-4 p-4 text-sm">
    <a href="/" class="font-bold">mark</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
    <a href="/rss.xml" class="ml-auto">RSS</a>
  </nav>
</header>
